* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page-header {
  background: #eaf4fb;
}

.header-flex {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

h1 {
  font-size: 28px;
  color: #222;
}

ol {
  display: flex;
  list-style: none;
  font-size: 14px;
}

ol li {
  color: #666;
}

ol li a {
  text-decoration: none;
  color: #555;
}

ol li + li::before {
  content: "/";
  margin: 0 10px;
  color: #999;
}



.about {
  padding: 60px 0;
  background-color: #fff;
  font-size: 16px;
}

.about .row {
  display: flex;
  align-items: center;
}

.about img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about h3 {
  font-size: 28px;
  color: #062b5b;
  margin-bottom: 20px;
}

.about p {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 15px;
}

.about .col-md-6 {
  padding: 15px;
}

