* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.slider {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider .list {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slider .item {
  min-width: 100%;
  height: 100vh;
}

.slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 55px;
  height: 55px;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 10;

  transition: all 0.3s ease;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

.prev img,
.next img {
  width: 22px;
  transition: transform 0.3s ease;
}

.prev:hover,
.next:hover {
  background: rgba(255, 255, 255, 0.6);
  transform: translateY(-50%) scale(1.08);
}


.prev:active,
.next:active {
  transform: translateY(-50%) scale(0.95);
}




.counts {
  padding: 70px 0 40px;
  background-color: #f6f9fe;
  font-size: 16px;
}

.counts .container {
  max-width: 1140px;
  margin: auto;
}

.counts .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 15px;
}

.counts .count-box {
  background: #ffffff;
  padding: 40px 20px 30px;
  position: relative;   /* MUST */
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


.counts .count-box i {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, 0);  
  width: 55px;
  height: 55px;
  line-height: 55px;             
  font-size: 22px;
  background: #084e9c;
  color: #fff;
  border-radius: 50%;
  border: 5px solid #fff;
  text-align: center;
}

/* NUMBER */
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 700;
  color: #062b5b;
  margin-top: 10px;
}

/* TEXT */
.counts .count-box p {
  margin: 5px 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #555;
}


